asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.7.0
Django==5.1.4
django-appconf==1.1.0
django-imagekit==5.0.0
django-unfold==0.49.1
fonttools==4.55.3
pilkit==3.0
pillow==11.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.2
weasyprint==63.1
webencodings==0.5.1
whitenoise==6.8.2
zopfli==0.2.3.post1
